.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

#timeline {
  margin-top: 10px;
  margin-left: 60px;
  margin-right: 60px;
}

.tooltip {
  position: absolute;
    text-align: left;
    width: 150px;
    padding: 5px;
    font: 12px sans-serif;
    background: #72ddd4;
    border: 0px;
    border-radius: 4px;
    pointer-events: none;
        z-index: 5;
}

.tick {
  font-size: 12px;
}

#legend {
  width: 50%;
    display: inline-block;
    float: right;

    padding-top: 10px;
}

.legend-item {

  display: inline-block;
    padding-right: 20px;
}
